[Desktop Entry]
Terminal=false
Icon=SchemeViewer
Type=Application
Categories=Office
Exec=SchemeViewer
Name=SchemeViewer
Comment=Discrete Level Scheme Viewer for NSTARC
Name[en_US]=SchemeViewer
